//Fonts
$font-name: "Source Sans Pro";
$font-family: $font-name, "Arial", "Helvetica", sans-serif;
$font-size: 15px;

//Google Fonts
@font-face {
  font-family: $font-name;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/source-sans-pro-light.woff") format("woff");
}

//Colors
$background-color: rgb(48, 48, 48);
$background-color-2: rgb(96, 96, 96);
$foreground-color: white;
$obvious-color: #FFC300;
$background-color-invert: white;
$foreground-color-invert: black;
$mid-gray-color: #777777;

//Sizes
$padding: 4px;
$header-size: 64px;
$status-size: $header-size / 2;
$tabs-changer-size: $header-size / 2;
$fixed-width: 242px;
$tabber-size: 400px;
$work-size: 148px;

//Radius
$radius: 4px;
//$radius: 0;