.ui-menu {
  padding: 0;
  background-color: $foreground-color-2;
  width: 100%;
  height: $header-size / 2;
  line-height: $header-size / 2;
  li {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $padding + 3px;
    padding-right: $padding + 3px;
    list-style-type: none;
    float: left;
    ul {
      li {
        background-color: $foreground-color-2;
      }
    }
  }
  li:hover {
    background-color: $obvious-color;
  }
  ul {
    display: none;
  }
}