.ui-orb {
  padding: 0;
  float: left;
  a {
    background-color: $foreground-color-2;
    display: block;
    width: $header-size;
    height: $header-size;
    padding: $padding * 1.5;
    img {
      width: 100%;
      height: 100%;
    }
  }
  div {
    display: none;
  }
  a:hover {
    background-color: $obvious-color;
  }
}