body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > main {
  display: block;
  position: absolute;
  clear: both;
  width: 100%;
  height: 100%;
  padding-top: $header-size;
  padding-bottom: $status-size;
  background-color: green;
  > * {
    height: 100%;
    overflow: auto;
  }
  > aside {
    float: left !important;
    width: $resources-size !important;
    background-color: $background-color-invert;
  }
  > div {
    margin-left: $resources-size !important;
  }
}

body > header {
  position: absolute;
  width: 100%;
  height: $header-size;
  padding: 0 !important;
  z-index: 400;
  > div:nth-child(2) {
    margin-left: $header-size;
    height: $header-size;
    padding-top: $header-size / 2;
  }
}

#Loading, #Working, #Dialogue {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.75);
}

#Loading {
  display: block;
  background-color: black;
  div {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: $blocker-size;
    height: $blocker-size;
    margin-top: $blocker-size / -2;
    margin-left: $blocker-size / -2;
    background-color: #151515;
    border-radius: $padding * 2;
    p {
      text-align: center;
    }
    p:nth-child(1), p:nth-child(1) span {
      height: $blocker-size;
      line-height: $blocker-size;
      font-size: $font-size * 6;
    }
    p:nth-child(2) {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $blocker-size * 0.25;
      line-height: $blocker-size * 0.25;
      font-size: $font-size * 1.5;
    }
  }
}

#Working {
  top: -$status-size;
}