body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

#Colors {
  .foreground {
    background-color: $foreground-color;
  }
  .foreground-invert {
    background-color: $foreground-color-invert;
  }
  .background-light {
    background-color: $background-color-2;
  }
  .mid-gray {
    background-color: $mid-gray-color;
  }
  .obvious {
    background-color: $obvious-color;
  }
}

body > main {
  display: block;
  position: absolute;
  clear: both;
  width: 100%;
  height: 100%;
  padding-top: $header-size;
  padding-bottom: $status-size;
  background-color: $background-color-2;
  > * {
    height: 100%;
    overflow: auto;
  }
  > aside {
    float: left !important;
    width: $fixed-width !important;
    background-color: $background-color-invert;
  }
  > div {
    margin-left: $fixed-width !important;
  }
}

body > header {
  position: absolute;
  width: 100%;
  height: $header-size;
  padding: 0 !important;
  z-index: 400;
  > div:nth-child(2) {
    margin-left: $header-size;
    height: $header-size;
    padding-top: $header-size / 2;
  }
}

#Work, #Dialogue {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.75);
}

#Work {
  display: block;
  background-color: black;
  div {
    display: none;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: $work-size;
    height: $work-size;
    margin-top: $work-size / -2;
    margin-left: $work-size / -2;
    background-color: #151515;
    border-radius: $radius * 2;
    p {
      text-align: center;
    }
    p:nth-child(1), p:nth-child(1) span {
      height: $work-size;
      line-height: $work-size;
      font-size: $font-size * 4;
    }
    p:nth-child(2) {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $work-size * 0.25;
      line-height: $work-size * 0.25;
      font-size: $font-size * 1.25;
    }
  }
}
#Work.show-status {
  top: -$status-size;
}