.ui-tree {
  background-color: $background-color-invert;
  padding: $padding;
  color: $foreground-color-invert;
  li {
    list-style-type: none;
    li {
      margin-left: 12px;
    }
  }
  li span.fa {
      margin-left: $padding / 2;
      margin-right: $padding * 1.5;
      vertical-align: -1.2;
      font-size: $font-size * 1.2;
  }
  li > span {
      display: block;
      margin-bottom: $padding;
      padding: $padding;
      line-height: $font-size * 1.5;
  }
  .selected {
    background-color: $obvious-color;
    border-radius: $radius;
  }
  .selected, .selected * {
    color: $foreground-color !important;
  }
}