/*
Syntax error: File to import not found or unreadable: ui-controls/_panel.scss.
              Load paths:
                /home/james/src/dsgmApp/app (DEPRECATED)
                /home/james/src/dsgmApp/app/css/sass
        on line 11 of css/sass/dsgm.scss

6: @import "_core.scss";
7: @import "_structure.scss";
8: @import "_ui.scss";
9: 
10: //UI Controls
11: @import "ui-controls/_panel.scss";
12: @import "ui-controls/_orb.scss";
13: @import "ui-controls/_menu.scss";
14: @import "ui-controls/_status-bar.scss";
15: @import "ui-controls/_tree.scss";
16: @import "ui-controls/_tabs.scss";

Backtrace:
css/sass/dsgm.scss:11
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/import_node.rb:66:in `rescue in import'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/import_node.rb:45:in `import'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:151:in `visit'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:250:in `block in watch'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/home/james/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.3.8/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: ui-controls/_panel.scss.\A               Load paths:\A                 /home/james/src/dsgmApp/app (DEPRECATED)\A                 /home/james/src/dsgmApp/app/css/sass\A         on line 11 of css/sass/dsgm.scss\A \A 6: @import \"_core.scss\";\A 7: @import \"_structure.scss\";\A 8: @import \"_ui.scss\";\A 9: \A 10: //UI Controls\A 11: @import \"ui-controls/_panel.scss\";\A 12: @import \"ui-controls/_orb.scss\";\A 13: @import \"ui-controls/_menu.scss\";\A 14: @import \"ui-controls/_status-bar.scss\";\A 15: @import \"ui-controls/_tree.scss\";\A 16: @import \"ui-controls/_tabs.scss\";"; }
