* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

header {
  padding: 0 !important;
  height: $header-size;
  div:nth-child(2) {
    margin-left: $header-size;
    height: $header-size;
    padding-top: $header-size / 2;
  }
}

main {
  > aside {
    float: left;
    width: 200px;
    background-color: pink;
  }
  > div {
    margin-left: 200px;
    background-color: yellow;
  }
}

.test {
	/* Hello, World */
}