*[data-role=markup-resource] {
  > * {
    height: 100%;
    overflow: auto;
  }
  > aside {
    float: left !important;
    width: $fixed-width !important;
  }
  > div {
    margin-left: $fixed-width + $padding;
    background-color: $background-color-2;
    border-radius: $radius;
  }
}