.markup-resource {
  > * {
    height: 100%;
    overflow: auto;
  }
  > aside {
    float: left !important;
    width: $resources-size !important;
  }
  > div {
    margin-left: $resources-size + $padding;
    background-color: $background-color-2;
    border-radius: $radius;
  }
}