.ui-menu {
  position: relative;
  float: left;
  width: 100%;
  height: $header-size / 2;
  padding: 0;
  line-height: $header-size / 2;
  background-color: $foreground-color-2;
  ul {
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 216px;
    z-index: 400;
    background-color: $obvious-color;
    border: 2px solid $obvious-color;
  }
  ul li {
    float: none;
  }
  ul, ul li:first-child {
    border-top-right-radius: $radius;
  }
  ul, ul li:last-child {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  li {
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $padding + 3px;
    padding-right: $padding + 3px;
    list-style-type: none;
    ul {
      li {
        background-color: $foreground-color-2;
      }
    }
  }
  li.separator {
    height: 2px;
    background-color: $obvious-color;
  }
  li:hover > ul { 
    visibility: visible;
  }
  li:hover {
    position: relative;
    background-color: $obvious-color;
  }
  > li {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
  li li:hover * {
    color: $foreground-color !important;
  }
}