.ui-menu {
  position: relative;
  float: left;
  width: 100%;
  height: $header-size / 2;
  padding: 0;
  line-height: $header-size / 2;
  background-color: $background-color-2;
  //All Items
  li {
    list-style-type: none;
  }
  li > span {
    padding-left: $padding * 2;
    padding-right: $padding * 2;
  }
  //Master Item
  > li {
    position: relative;
    float: left;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    > div {
      position: absolute;
      display: none;
      left: 0;
      width: 242px;
      z-index: 400;
      background-color: $obvious-color;
      border: 2px solid $obvious-color;
      border-radius: $radius;
      border-top-left-radius: 0;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      //Master Item List
      > ul {
        //Group
        > div {
          border-top: 1px solid $obvious-color;
          border-bottom: 1px solid $obvious-color;
          //Group Items
          li {
            float: none;
            > span {
              display: block;
              background-color: $background-color-2;
            }
          }
          li:first-child {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
          }
          li:last-child {
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
          }
          li.separator {
            height: 2px;
            background-color: $obvious-color;
          }
        }
        > div:first-child {
          border-top: 0;
        }
        > div:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}