.ui-status-bar {
  clear: both;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 $padding 0 ($padding * 2);
  height: $status-size;
  line-height: $status-size;
  background-color: $foreground-color-2;
  .fa {
    vertical-align: -1;
  }
}