.ui-tabs {
  .ui-panel {
    display: none;
    border-radius: $radius;
  }
  .no-corner {
    border-top-left-radius: 0;
  }
  .selected {
    display: block;
    background-color: $foreground-color-2;
  }
}

.ui-tabs-changer {
  clear: both;
  height: $tabs-changer-size;
  line-height: $tabs-changer-size;
  .selected {
    background-color: $foreground-color-2;
  }
}

.ui-tabs-changer div {
  float: left;
  padding-left: $padding * 2;
  padding-right: $padding * 2;
  margin-right: $padding;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}